<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Escáner de Puertos IPv6</title>
    <link href="static/css/style.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="icon" href="static/img/icon.png" type="image/png">
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="static/img/iconnav.png" alt="Logo" width="150" class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Características</a>
                    </li>
                </ul>
                <a href="https://github.com/vichedev" class="btn btn-primary" type="button" target="_blank">Soporte</a>
            </div>
        </div>
    </nav>

    <!-- Hero Section -->
    <section class="hero">
        <div class="container">
            <div class="hero-content">
                <img src="static/img/logoscan.png" alt="Logo Flotante" class="hero-logo" />
                <p>Descubre el estado de tus puertos en direcciones IPv4 o IPv6 con facilidad.</p>
                <a href="#main-content" class="btn btn-primary get-started-btn">Comenzar!</a>
            </div>
        </div>
    </section>

    <span><br id="main-content"></span>

    <!-- ZONA DEL SISTEMA -->
    <section class="container mt-5">

        <!-- Main Content -->
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6">
                    <div class="feature-boxiz p-4">
                        <h3 class="mb-4">Zona de Escaneo</h3>
                        <div class="ip-info">
                            <h3 class="text-center">Mi IP: <span id="user-ip">Cargando...</span></h3>
                        </div>
                        <form id="scan-form">
                            <div class="mb-4">
                                <label for="address" class="form-label">Dirección IPv4 o IPv6</label>
                                <input type="text" class="form-control form-control-lg" id="address" required
                                    placeholder="Ej. 205.235.6.225" />
                            </div>
                            <div class="mb-4">
                                <label for="port-option" class="form-label">Opciones de Puertos</label>
                                <select class="form-select form-select-lg" id="port-option" required>
                                    <option value="common">Puertos comunes</option>
                                    <option value="specific">Puerto específico</option>
                                </select>
                            </div>
                            <div class="mb-4" id="specific-port-group" style="display: none">
                                <label for="specific-port" class="form-label">Número de Puerto Específico</label>
                                <input type="number" class="form-control form-control-lg" id="specific-port"
                                    placeholder="Ej. 80" />
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg">Escanear</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="feature-box p-4">
                        <h3 class="mb-4">Progreso del Escaneo</h3>
                        <!-- Contenedor para mostrar los puertos abiertos -->
                        <div class="mt-5" id="final-results"></div>
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 33%;"
                                aria-valuenow="33" aria-valuemin="0" aria-valuemax="100">Abierto</div>
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 33%;"
                                aria-valuenow="33" aria-valuemin="0" aria-valuemax="100">Cerrado</div>
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 35%;"
                                aria-valuenow="33" aria-valuemin="0" aria-valuemax="100">Filtrado</div>
                        </div>
                        <div id="scan-results-container" class="mt-4">
                            <ul id="scan-results" class="list-group"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- PREGUNTAS FRECUENTES -->
        <section class="container faq-section mt-5 mb-5">
            <h2 class="text-center mb-4">Preguntas Frecuentes</h2>
            <div class="accordion" id="faqAccordion">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            ¿Qué es un escáner de puertos?
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#faqAccordion">
                        <div class="accordion-body">
                            Un escáner de puertos es una herramienta que permite identificar los puertos abiertos en una
                            red
                            o en una máquina. Esto puede ayudar a encontrar vulnerabilidades o verificar la
                            configuración de
                            seguridad.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            ¿Cómo se utiliza el escáner de puertos en IPv6?
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#faqAccordion">
                        <div class="accordion-body">
                            El escáner de puertos en IPv6 funciona de manera similar al de IPv4, pero con direcciones
                            IPv6.
                            Simplemente introduce la dirección IPv6 y el tipo de escaneo que deseas realizar.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            ¿Qué hacer si encuentro puertos abiertos?
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#faqAccordion">
                        <div class="accordion-body">
                            Si encuentras puertos abiertos que no deberían estar, puede ser un signo de vulnerabilidades
                            en
                            el sistema. Revisa la configuración del firewall, asegúrate de que los servicios en esos
                            puertos
                            estén configurados adecuadamente, y considera realizar una evaluación de seguridad más
                            profunda.
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <!-- Footer -->
    <footer class="bg-dark text-light py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-3 mb-md-0">
                    <p class="mb-0 text-center text-md-start">
                        Escáner de Puertos IPv4/IPv6.
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="footer-section">
                        <h5 class="text-center text-md-end mb-2">Patrocinado por:</h5>
                        <h6 class="text-center text-md-end mb-3">RED NUEVA CONEXIÓN</h6>
                        <ul class="list-unstyled d-flex justify-content-center justify-content-md-end mb-4">
                            <li class="ms-3">
                                <a href="#" class="text-light" aria-label="Facebook">
                                    <i class="bi bi-facebook fs-4"></i>
                                </a>
                            </li>
                            <li class="ms-3">
                                <a href="#" class="text-light" aria-label="WhatsApp">
                                    <i class="bi bi-whatsapp fs-4"></i>
                                </a>
                            </li>
                            <li class="ms-3">
                                <a href="#" class="text-light" aria-label="Instagram">
                                    <i class="bi bi-instagram fs-4"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr class="text-light my-4">
            <p class="text-center mb-0"> &copy; 2024 InigualitySoft. Todos los derechos reservados.</p>
        </div>
    </footer>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <script src="static/js/ipuser.js"></script>
</body>

</html>